<%= bootstrap_devise_error_messages! %>
<%= render partial: 'settings_navigation' %>
<div class='row'>
  <div class="col-xs-5">
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t('.title', resource: resource_class.model_name.human , default: "Edit #{resource_name.to_s.humanize}") %></h4>
      </div>
      <div class="panel-body col-xs-12">
        <%= simple_form_for resource, url: registration_path(resource_name), html: { class: 'form-horizontal', method: 'put' } do |f| %>
          <p><strong>Текущее местоположение: </strong><%= resource.address_string %></p>
          <div class='js-set_localization'>
            <%= f.input :vk_country_id, as: :hidden, input_html: { value: resource.vk_country_id } %>
            <%= f.input :vk_region_id, as: :hidden, input_html: { value: resource.vk_region_id }  %>
            <%= f.input :vk_city_id, as: :hidden, input_html: { value: resource.vk_city_id }  %>
            <%= f.input :vk_country_title, as: :select,  collection: [], input_html: { class: 'chosen-select' } %>
            <%= f.input :vk_region_title, as: :select, collection: [], input_html: { class: 'chosen-select' }%>
            <%= f.input :vk_city_title, as: :select, collection: [], input_html: { class: 'chosen-select' } %>
          </div>
          <%= f.input :patronymic %>
          <%= f.input :name, autofocus: true %>
          <%= f.input :surname %>
          <%= f.input :email, as: :email %>
          <%= f.input :current_password, autocomplete: 'off', as: :password %>
          <%= f.input :password, as: :password, autocomplete: "off" %>
          <%= f.input :password_confirmation, as: :password %>
          <%= f.submit t('.update', default: 'Update'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<p><%= t('.unhappy', default: 'Unhappy') %>? <%= link_to t('.cancel_my_account', default: 'Cancel my account'), registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete %>.</p>

<%= link_to t('.back', default: 'Back'), :back %>
