<%= bootstrap_devise_error_messages! %>
<div class='row'>
  <div class="col-xs-5">
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t('.sign_up', default: 'Sign up') %></h4>
      </div>
      <div class="panel-body col-xs-12">
        <%= simple_form_for resource, url: user_registration_path(resource), html: { class: 'form-horizontal' } do |f| %>
          <div class='js-set_localization'>
            <%= f.input :vk_country_id %>
            <%= f.input :vk_region_id %>
            <%= f.input :vk_city_id %>
            <%= f.input :vk_country_title, as: :select,  collection: [] %>
            <%= f.input :vk_region_title, as: :select, collection: [] %>
            <%= f.input :vk_city_title, as: :select, collection: [] %>
          </div>
          <%= f.input :name, autofocus: true %>
          <%= f.input :surname %>
          <%= f.input :patronymic %>
          <%= f.input :email, as: :email %>
          <%= f.input :password, as: :password, autocomplete: "off" %>
          <%= f.input :password_confirmation, as: :password %>
          <%= f.submit t('ap.update', default: 'Update'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'devise/shared/providers' %>
