<div class='row'>
  <div class='col-xs-10'>
    <h1>Страна <%= @country.title %></h1>
    <span><%= '(Публичная)' if @country.public %></span>
    <a href='javascript:void(0)' class='slide_toggable_handler'>Редактировать</a>
    <div style='display:none'>
      <%= render partial: 'form' %>
    </div>
    <%= link_to 'Удалить', manage_country_path(@country), method: 'DELETE', data: { confirm: 'Вы уверены?' } %>
    <h3>Города</h3>
    <ul class='cities'>
      <% @cities.each do |city| %>
        <li>
          <%= city.title %>
          <%= '(Публичный)' if city.public %>
          <%= link_to 'Удалить', manage_country_city_path(@country, city), method: 'DELETE', data: { confirm: 'Вы уверены?' } %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Добавить', new_manage_country_city_path(@country), class: 'js-add_country_city', remote: true %>
  </div>
</div>
