<%= render partial: '/devise/registrations/settings_navigation' %>
<%= simple_form_for @avatar, url: avatar_path, :html => { :class => 'form-avatar js-avatar' } do |f| %>
  <div class='radio'>
      <%= radio_button_tag 'avatar[identity_id]', 0, @avatar.identity.nil? %>
      <%= label_tag 'avatar_identity_id_0' do %>
        <%= image_tag current_user.gravatar_url, size: '96x96' %>
        <span class='avatar-name'><%= link_to 'Gravatar', 'https://ru.gravatar.com/emails', target: '_blank' %></span>
      <% end %>
    </div>

    <% current_user.identities.reject {|x| !x.image }.each_with_index do |identity, index| %>
      <div class="radio">
      <%= radio_button_tag 'avatar[identity_id]', identity.id, @avatar.identity == identity, id: "avatar_identity_id_#{index+1}" %>
      <%= label_tag "avatar_identity_id_#{index+1}" do %>
        <%= image_tag identity.image, size: '96x96' %>
        <span class='avatar-name'><%= link_to identity.provider.capitalize, identity.url, target: '_blank' %></span>
      <% end %>
    </div>
  <% end %>

  <div class='actions'>
    <%= f.submit 'Сохранить', name: nil, :class => 'btn btn-primary btn-sm' %>
  </div>
<% end %>
