<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'zg_header/zg_header' %>
    <div class='container'>
      <div class='flash'>
        <% flash.each do |name, msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
